.todos-container {    
    display: flex;
    flex-direction: column;
    align-items: center;         
}

.todo-no-item h1 {
    text-align: center;
    font-size: large;
    color: gray;
    padding-top: 20px;
}

@media only screen and (min-width: 650px) {
    .todos-container {
        padding: 15px 0px;         
    }
}